%h1 Recursos
%h2 Email
%nav
	%ul
		%li= link_to "Leer", "http://webmail.laberintoradio.net:8080/src/login.php", target: '_blank'
		%li= link_to "Cambio de password", "http://laberintoradio.net:8080/postfixadmin/users/login.php",target: '_blank'
		%li= link_to "Redireccionar", "http://laberintoradio.net:8080/postfixadmin/users/login.php", target: '_blank'
%h2 Comunicacion
%nav
	%ul
		%li= link_to "Documentos", docs_lobby_url
		%li.broken= link_to "Directorio", lobby_url