!!! 5
%html
	%head
		%meta{charset: 'utf8'}
		%title PortalDeLocutores
		= stylesheet_link_tag	:application
		= javascript_include_tag 'all'
		= yield :stylesheets
		= csrf_meta_tags
	%body
		%header.container_12
			.grid_12#general-navigation
				%nav
					%ul#radio-nav
						%li= link_to "Lobby",	lobby_url
						%li= link_to "Programas", programs_url
				%nav
					%ul#user-nav
						%li= link_to 'Perfil', @current_user
						%li= link_to 'Salir', logout_url
		= yield
